tml {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }
  .header, .publicacion, .encabezado{
      display: flex;
      flex-direction: row-reverse;
      flex-direction: row;
      gap: 16px;
  }
  .body{
    background-color: rgb(253, 245, 245);
  }
  .back-color{
    background-color: white;
  }
  .1rem{
    top: 1rem;
  }
 .header >*, .publicacion >* {
   /* background-color: rgba(202, 194, 194, 0.171);*/
    width: 500px;
    padding: 16px;
    border-radius: 8px;

 }
  .header > *,.publicacion >*{
     width: 500px;
  }
  .header{
    justify-content: space-between;
    justify-items: center;
    
  }
  .camera{
      width: auto;
      height: 34px;
      
  }

  .h1{
    font-family: 'Satisfy', cursive;
    margin: 0px;
    width: auto;
    justify-items: center;
    } 
  .message{
      width: auto;
      height: 34px;
  }
   hr{
   border: 1px solid rgb(235, 233, 233, 0.459);
   }

   .publicacion{
    flex-direction: column;
    gap: .5px;
    justify-items: center;
   }
   .encabezado{
     display: flex;
     justify-content: center;
     flex-direction: column;
     border-radius: 0px;
   }
      
  .imagenperfil{
      width: 50px;
      height: 50px;
      border-radius: 25px;
  }
  .nombredeusuario{
    font-family: 'Roboto', sans-serif;
    width: 373px;
  }
  .publicacionimagen{
      width: 500px;
      height: auto;
      border-radius: 25px;
  }
  .estados{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 500px;
     height: 40px;
     gap: 35px;
     
  }
  .icono-pie{
    display:  flex;
    justify-content: center;
    width: 500px;
    height: 25px;
   
  }
  .perfil-nombre{
    display: flex;
    gap: 25px;
  }
  .puntos{
    width: auto;
    height: 21px;
  }
  .iconos{
    width: auto;
      height: 28px;
  }
  .bookmark{
    display: flex;
    justify-content: end;
    width: 400px;
  }
  .comentarios{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 531px;
    height: 20px;
    padding: 15px 0px;
    border-radius: 0px;
    justify-content: center;
    justify-items: center;
  }
  .textarea{
    width: 350px;
    height: 20px;
  }
  .publicar{
    background-color: white;
     border: 0px;
     color: rgba(18, 60, 247, 0.61);
  }